.commondrop-display {
	background-color: #fafafa;
	height: 26px;
	line-height: 24px;
	width: 350px;
	font-size: 12px;
	font-family: arial;
	color: #595959;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.3s;
	box-sizing: border-box;

	.display-label {
		display: inline-block;
	    width: calc(100% - 40px);
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    margin: 0px 5px !important;
	}

	.arrow {
		margin: 10px;
		float: right;
		width: 0; 
		height: 0; 

		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #595959;
	}

	&.open {
		transition: background-color 0.3s;
		border-radius: 3px 3px 0px 0px;

		.arrow {
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid #595959;
			border-top: none;
		}
	}

	&.display-focused {
		border-color: #169BD5;
	}

	input {
		position: absolute;
		right: 0;
		opacity: 0;
		width: 0px;
	}

	&.warning-status {
		border-color: #dcb52a;
	}

	&.error-status {
		border-color: #ef8166;
	}

	&.success-status {
		border-color: #2fa83e;
	}

	&.single {

	}

	&.multiple {

		height: auto;
		min-height: 26px;
		background-color: white;

		&.open {
			background-color: #fafafa;
		}

		.display-label {
			position: absolute;
		}

		.arrow {
			display: none;
		}

		.tag {
			line-height: 18px;
			padding: 0px 5px;
			border: 1px solid #d7d7d7;
			border-radius: 3px;
			background-color: #fafafa;
			font-size: 11px;
			float: left;
			margin: 2px 0px 1px 2px;
			cursor: pointer;
			user-select: none; 
		}

		.tag-remove {
		    height: 12px;
		    width: 12px;
		    background-image: url(resources/cancel.svg);
		    background-repeat: no-repeat;
		    display: block;
		    float: right;
		    margin: 3px 0px 0px 3px;
		    transition: opacity 0.3s;

		    &:hover {
		    	opacity: 0.5;
		    }
		}
	}
}

.commondrop-menu {
	background-color: #fafafa;
	width: 350px;
	font-size: 12px;
	font-family: arial;
	color: #595959;
	border: 1px solid #d7d7d7;
	box-shadow: 0px 10px 20px rgba(67, 67, 67, 0.1);
	border-radius: 0px 0px 3px 3px;
	z-index: 999;
	display: none;

	&.open {
		border-top: none;
		display: block !important;
	}

	a {

		transition: color 0.3s;
		color: #169BD5;
		cursor: pointer;

		&:hover {
			color: #197ca7;
		}
	}

	.bulk-box {
		display: flex;
		font-size: 11px;
		height: 0px;
		line-height: 30px;
		transition: height 0.5s, padding 0.5s;
		overflow: hidden;
		position: relative;

		span {
			padding-right: 10px;

			p {
				display: inline;
			    padding: 1px 5px;
			    border-radius: 10px;
			    font-size: 10px;
			    color: white;
			}
		}

		span.select {
			color: #84c384;

			p {
				background-color: #84c384;		
			}
		}

		span.unchange {
			color: #a5a5a5;

			p {
				background-color: #a5a5a5;
			}
		}

		span.unknown {
			color: #fd7575;

			p {
				background-color: #fd7575;
			}
		}

		.dialog-button {
			position: absolute;
			right: 7px;
			height: 30px;
			line-height: 24px;
			text-align: center;
			color: white;
			border-radius: 3px;
			font-size: 12px;
			cursor: pointer;
			margin-left: 5px;
			width: 40px;
		    background-image: url(resources/dialog.svg);
		    background-repeat: no-repeat;
		    background-size: 12px;
		    background-position: center right;
		    background-color: transparent;
			pointer: cursor;
			opacity: 0.3;
			transition: background-color 0.3s, opacity 0.3;

			&:hover {
				opacity: 0.7
			}
		}
	}

	.search-box {
		padding: 5px;
		display: flex;

		input {
			width: 100%;
			height: 24px;
			flex-basis: 100%;
			border-radius: 3px;
			outline: none;
			border: 1px solid #d7d7d7;
			padding-left: 5px;
			transition: border-color 0.3s;
			margin: 0;

			&::placeholder {
				font-style: italic;
			}

			&:focus {
				border-color: #169BD5;
			}

			&::-ms-clear {
			    display: none;
			}
		}

		.cd-search-icon {
			position: absolute;
		    height: 13px;
		    width: 13px;
		    background-image: url(resources/search.svg);
		    right: 12px;
		    top: 10px;
		    background-repeat: no-repeat;

		    &.active {
		    	background-image: url(resources/search-cancel.svg);
		    }
		}

		.action-button, .bulk-button {
			transition: background-color 0.3s;
			background-color: #329aea;
			height: 24px;
			line-height: 24px;
			width: 55px;
			text-align: center;
			color: white;
			border-radius: 3px;
			font-size: 12px;
			cursor: pointer;
			margin-left: 5px;

			&:hover {
				background-color: #328bd0;
			}
		}

		.bulk-button {
			width: 67px;
			background-color: #84c384;
			display: none;

			&:hover {
				background-color: #6fa56f;
			}
		}
	}

	.control-box {

		display: flex;
		padding-bottom: 5px;
		line-height: 30px;
		height: 30px;
		font-size: 12px;

		.modifiers {
			display: inline;
			flex-basis: 100%;
			padding: 0px 10px;
			white-space: nowrap;

			.modifier {
				margin-right: 10px;
			    overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			    float: left;
			}
		}

		.status {
			max-width: 70px;
			display: inline;
			text-align: right;
			color: #999999;
			font-size: 12px;
			width: 100%;
			padding: 0px 10px;
		}
	}

	.options-box {
		
		position: relative;
		max-height: 300px;
    	overflow-y: auto;

		.option {
			height: 30px;
			line-height: 30px;
			padding: 0px 10px;
			cursor: pointer;
			overflow: hidden;
			//transition: background-color 0.3s;

			&.hidden, &.group-hidden {
				height: 0px;
			}

			&.disabled, &.group-disabled {
				color: #999999;
				cursor: default;

				.option-modifier {
					display: none;
				}
			}

			&.highlighted {
				background-color: #e3f2ff;	

				.option-modifier {
					background: linear-gradient(to right, rgba(227,242,255,0) 0%,rgba(227,242,255,1) 15%,rgba(227,242,255,1) 100%);
				}
			}

			.option-checkbox {
				margin: 0px 5px 0px 0px;
				float: none;
			}

			.option-label {
				display: inline-block;
				vertical-align: middle;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: calc(100% - 18px);
			}

			.option-modifier {
				line-height: 30px;
			    transition: opacity 0.3s;
			    opacity: 0;
			    position: absolute;
			    right: 0px;
			    background: linear-gradient(to right, rgba(250,250,250,0) 0%,rgba(250,250,250,1) 15%,rgba(250,250,250,1) 100%);
			    padding: 0px 10px;
			}

			&:hover {
				.option-modifier {
					opacity: 100;
				}
			}
		}

		.group {
			height: 30px;
			line-height: 30px;
			padding: 0px 10px;
			cursor: default;
			overflow: hidden;
			font-size: 11px;
    		font-weight: bold;

			&.hidden {
				height: 0px;
			}

			&.disabled {
				color: #999999;
				cursor: default;

				.group-modifier {
					display: none;
				}
			}

			.group-modifier {
				transition: opacity 0.3s;
				float: right;
			}
		}

		.option.last {
			border-bottom: 1px solid #d7d7d7;
		}

		.fetch-divider {
			line-height: 16px;
		    position: relative;
		    margin: 0px 12px;

		    .text {
		    	text-align: center;
			    width: 100px;
			    margin-left: auto;
			    margin-right: auto;
			    z-index: 1;
			    position: relative;
			    background-color: #fafafa;
			    color: #ababab;
			    font-size: 11px;
		    }

		    .break {
		    	width: 100%;
			    height: 1px;
			    background-color: #d8d8d8;
			    position: absolute;
			    top: 50%;
		    }
		}

		.load-divider {
			height: 30px;
			line-height: 30px;
			padding: 0px 10px;
			cursor: pointer;
			overflow: hidden;

			&.loader-before:before {
				right: calc(50% - 11px);
			}
		}
	}

	.empty-box, .empty-result-box, .loading-box {
	    top: 33px; // offset for search box
	    right: 0;
	    bottom: 0;
	    left: 0;
	    text-align: center;
	    line-height: 80px;
	    color: #9a9a9a;
	    background-color: #fafafa;
	    height: 80px;

	    &.loader-after:after {
	    	position: static;
	    	top: 22px;
	    	display: inline-grid;
	    	margin-left: 10px;
	    }

	}

	&.bulk-active {
		
		.bulk-box {
			padding: 0px 5px;
			height: 30px;
			background-color: #f5f5f5;
		}

		.search-box {
			background-color: #f5f5f5;

			input {
				border-color: #a2d0a2;
			}

			.action-button {
				display: none;
			}

			.bulk-button {
				display: block;
			}
		}
	}

	&.single {
		.options-box {
			.option {
				&.selected {
					font-weight: bold;
				}
			}
		}
	}

	&.multiple {

	}

	&.warning-status {
		border-color: #dcb52a;
	}

	&.error-status {
		border-color: #ef8166;
	}

	&.success-status {
		border-color: #2fa83e;
	}
}

.cover-box {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.4);
    display: none;

    &.active {
    	display: block;
    }
}


.commondrop-dialog-cover {
	background-color: rgba(0, 0, 0, 0.16);
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.commondrop-dialog {
	height: 400px;
    width: 600px;
    background-color: white;
    z-index: 1001;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    font-family: Arial;

    .header {
		height: 40px;
	    width: calc(100% - 20px);
	    background-color: #f5f5f5;
	    line-height: 40px;
	    font-size: 14px;
	    padding: 0px 10px;
    }

    .content {
    	textarea {
    		padding: 5px;
		    margin: 10px;
		    width: calc(100% - 33px);
		    height: 286px;
		    resize: none;
		    outline: none;
    	}
    }

    .results {

		padding: 10px;

    	table {
			font-size: 12px;
			padding-right: 30px;

			td:first-child {
				font-weight: bold;
			}
    	}
    }

    .footer {
		height: 40px;
	    width: calc(100% - 10px);
	    padding: 0px 5px;
	    position: absolute;
	    bottom: 0;
	    border-top: solid 1px #f5f5f5;

	    .button {
	    	display: inline-block;
		    height: 15px;
		    padding: 4px 8px;
		    background-color: #909090;
		    font-size: 12px;
		    border-radius: 3px;
		    color: white;
		    float: right;
		    margin: 9px 6px 9px 6px;
		    cursor: pointer;

		    &.primary {
		    	background-color: #329aea;
		    	color: white;
		    }
	    }
    }

	&.entry {
		.results {
			display: none;
		}
		.back-button {
			display: none;
		}

		.continue-button {
			display: none;
		}
	}

    &.confirmation {
    	.content {
    		display: none;
    	}
    	.select-button {
    		display: none;
    	}

    	.cancel-button {
    		display: none;
    	}
    }
}

@keyframes loader {
  to {transform: rotate(360deg);}
}


.value-loader {
	display: none;

	&:after {
		position: absolute;
	    content: '';
	    box-sizing: border-box;
	    width: 16px;
	    height: 16px;
	    right: 5px;
	    margin-top: 4px;
	    border-radius: 50%;
	    border: 2px solid #e8e8e8;
	    border-top-color: #595959;
	    animation: loader .6s linear infinite;
	    top: 0;
	}
}
 
.loader-after:after {
	position: absolute;
	content: '';
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	right: 10px;
	margin-top: 5px;
	border-radius: 50%;
	border: 2px solid #f1f1f1;
	border-top-color: #329aea;
	animation: loader .6s linear infinite;
}

.loader-before:before {
	position: absolute;
	content: '';
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	right: 10px;
	margin-top: 5px;
	border-radius: 50%;
	border: 2px solid #f1f1f1;
	border-top-color: #329aea;
	animation: loader .6s linear infinite;
}

.display-loader:after {
	display: none;
	position: absolute;
    content: '';
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    right: -24px;
    margin-top: 5px;
    top: 0;
    border-radius: 50%;
    border: 2px solid #dcdcdc;
    border-top-color: #828282;
    animation: loader .6s linear infinite;
}
